<div>Your id is : <%= @user_id %>
    </div>
    <div> Your username is : <%= @instagram_username%>
    </div>
    <div> <%=@media_data %></div>
    <div><%= image_tag @photos %>
        </div>


       