<h1><%= @profile[:username] %></h1>
<div>
  <div>Instagram: <a href="https://www.instagram.com/<%= @profile[:username] %>/">link</a></div>
  <div>Followers: <%= @profile[:followers_count] %></div>
  <div>Following: <%= @profile[:following_count] %></div>
</div>