<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WhereMyLikes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
   <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Simple header</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
    <main>
      <div id="ffc-calculator__wrap">
        <section id="ffc-header" class="container mobile-adjusted page-top">
          <h1 style="text-align: center; font-weight: bold;">Instagram Fake Follower checker</h1> 
          <p>Get an influencer’s audience audit &amp; identify fake, dormant or suspect followers to evaluate an influencer’s audience quality.</p>
        </section> 
        <div id="unlockCalculator" class="unlock-calculator-popup popupOverlay">
          <div>
            <div class="content">
              <div class="content-group">
                <div class="cta">
                </div>
              </div>
            </div> <!----> <!---->
          </div>
        </div>
        <section id="ffc-calculator" class="container mobile-adjusted">
          <div id="ffc-form">
            <input type="string" required="required" placeholder="Enter Instagram @username">
            <button type="submit">
              <span>Check stats</span>
            </button>
          </div><!----> 
          <div id="ffc-result" class="card row section">
            <div class="col-xs-12 col-md-6 profile-info">
              <img src="https://d3aqwrzdsjcw3e.cloudfront.net/Fkxjvj7qICrK-_rv7sgjaX7Y9_rR5B3nPsPjRj9ZyNs/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTIuZm5hLmZiY2RuLm5ldC92L3Q1MS4yODg1LTE5LzM1NjIxNTMyOF82NzE4MzQ4MzQ3NjM2MDdfMTA3MjQxMzExMTM0ODY1MDg4M19uLmpwZz9zdHA9ZHN0LWpwZ19lMF9zMTUweDE1MCZfbmNfaHQ9aW5zdGFncmFtLmZpZXYyMi0yLmZuYS5mYmNkbi5uZXQmX25jX2NhdD0xMDcmX25jX29oYz1SeW1lNjVxeHJ2TVE3a052Z0dlcE9lcSZlZG09QUVGOHRZWUJBQUFBJmNjYj03LTUmb2g9MDBfQVlEYkVsb0dpYlF5YWI3NzhGVk90N2lWbHV2azVIWDZ3Qm1rNk1IQWNpWFk2dyZvZT02NjkyMzIyMyZfbmNfc2lkPTFlMjBkMg" alt="amoureuxdumonde"> 
              <p class="username">@amoureuxdumonde</p>
              <span class="tag tag--exceptional">
                Score - Exceptional
              </span> 
              <div class="audience-score row">
                <div class="gauge-wrapper card col-xs-12">
                  <div>
                    <p class="score">10.0<br> 
                      <span>Audience Score</span>
                    </p>
                  </div> 
                  <svg viewBox="-100 0 500 200" fill="none" xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path id="gauge_back" stroke="#F0F0F0" stroke-width="11" stroke-linecap="round" d="M 275 159.99999999999997 A 125 125 0 0 0 25 160.00000000000003"></path> 
                    <path id="gauge" fill="none" d="M 275 159.99999999999997 A 125 125 0 0 0 25 160.00000000000003" stroke="url(#paint0_linear_2410_5725)" stroke-width="11" stroke-linecap="round"></path> 
                    <g filter="url(#filter0_d_2410_5728)"><circle cx="275" cy="159.99999999999997" r="8.5" fill="white" id="circle"></circle></g> 
                    <defs>
                      <linearGradient id="paint0_linear_2410_5725" x1="6" y1="123" x2="240" y2="123" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFE9F0"></stop> 
                        <stop offset="0.510417" stop-color="#FAECDB"></stop> 
                        <stop offset="1" stop-color="#D6EBE4"></stop>
                      </linearGradient> 
                      <filter id="filter0_d_2410_5728" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood> 
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix> 
                        <feOffset dy="4"></feOffset> 
                        <feGaussianBlur stdDeviation="4.5"></feGaussianBlur> 
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix> 
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2410_5728"></feBlend> 
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2410_5728" result="shape"></feBlend>
                      </filter>
                    </defs>
                  </svg>
                </div>
              </div> 
              <div class="stats row">
                <div class="card col-xs-12 p-tb-60 m-tb-40">
                  <div class="row">
                    <div class="followers col-xs-12 col-sm-4 col-md-4">
                      <svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="7.49995" cy="5.07143" r="4.28571" fill="#E7CAA7"></circle> 
                        <path d="M0 17.9286C0 13.7864 3.35786 10.4286 7.5 10.4286C11.6421 10.4286 15 13.7864 15 17.9286V19H0V17.9286Z" fill="#E7CAA7"></path>
                      </svg> 
                      <p>169.7k</p> 
                      <span>Followers</span>
                    </div> 
                    <div class="engagement col-xs-12 col-sm-4 col-md-4">
                      <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path>
                      </svg> 
                      <p>1.81%</p> 
                      <span>Engagement Rate</span>
                    </div> 
                    <div class="likes col-xs-12 col-sm-4 col-md-4">
                      <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path>
                      </svg> 
                      <p>2.95k</p> 
                      <span>Avg. Likes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-xs-12 col-md-6 data-info">
              <div class="row">
                <div class="col-xs-12">
                  <div class="card ratio-followers">
                    <div class="row">
                      <div class="col-lg-4 col-xs-12 real-followers">
                        <p>170k</p>
                        <span>Real Followers ≈</span>
                      </div> 
                      <div class="col-lg-8 col-xs-12">
                        <p class="percent">100%</p> 
                        <div class="data-progressbar">
                          <span id="followers-data-progress" class="data-progressbar--fill" style="background-color: rgb(231, 202, 167); width: 100%;"></span>
                        </div>
                      </div>
                    </div> 
                    <hr> 
                    <div class="row">
                      <div class="col-lg-4 col-xs-12 inactive-foll">
                        <p>0</p>
                        <span>Inactive Foll. ≈</span>
                      </div> 
                      <div class="col-lg-8 col-xs-12">
                        <p class="percent">0%</p> 
                        <div class="data-progressbar">
                          <span id="inactive-data-progress" class="data-progressbar--fill" style="background-color: rgb(0, 0, 0); width: 0%;"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="col-xs-12 average-subtitle">
                  <h5>Average VS Target</h5>
                </div> 
                <div class="col-xs-12">
                  <div class="card ratio-average">
                    <div class="row">
                      <div class="col-lg-4 col-xs-12 average-likes">
                        <p>2.95k</p>
                        <span>Average likes</span>
                      </div> 
                    <div class="col-lg-8 col-xs-12">
                      <p class="percent">Target: 10.2k</p> 
                      <div class="data-progressbar">
                        <span id="likesTarget-data-progress" class="data-progressbar--fill" style="background-color: rgb(231, 174, 192); width: 28.9667%;"></span>
                      </div>
                    </div>
                  </div> 
                  <hr> 
                  <div class="row">
                    <div class="col-lg-4 col-xs-12 average-comments">
                      <p>7.1%</p>
                      <span>Comments/Likes</span>
                    </div> 
                    <div class="col-lg-8 col-xs-12">
                      <p class="percent">Target: 4%</p> 
                      <div class="data-progressbar">
                        <span id="followersTarget-data-progress" class="data-progressbar--fill" style="background-color: rgb(149, 190, 176); width: 100%;"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-xs-12 col-md-12 posts-info">
            <div class="row"><div class="col-xs-12 col-md-12 posts">
              <div class="card">
                <p class="card-title">Latest Audience Engagement</p> 
                <div class="row">
                  <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="post">
                      <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/mC9ffsBvKrrFBldu6lSHm8cwqeoiUH1uHeogU8gmjsM/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTIuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDk4MDU1MDZfMTM5NjIwODA5NDM3NzU5MF82ODE5NzI2NTIzNzI2NTMxMjZfbi5qcGc_c3RwPWRzdC1qcGdfZTM1JmVmZz1leUoyWlc1amIyUmxYM1JoWnlJNkltbHRZV2RsWDNWeWJHZGxiaTR4TkRRd2VERTRNREF1YzJSeUxtWXlPVE0xTUNKOSZfbmNfaHQ9aW5zdGFncmFtLmZpZXYyMi0yLmZuYS5mYmNkbi5uZXQmX25jX2NhdD0xMTAmX25jX29oYz1JTWxVaG9uNHZEZ1E3a052Z0Vyc3htdSZlZG09QUVoeVhVa0JBQUFBJmNjYj03LTUmaWdfY2FjaGVfa2V5PU16UXdNemt6TlRVeU9URTNNek0wTkRZME1RJTNEJTNELjItY2NiNy01Jm9oPTAwX0FZQWx4NGhscEhmcnRNN25sdkNna25mLWI5YXRlMmVvRTVxRjRtY2RCQnVKVHcmb2U9NjY5MjQ2RTkmX25jX3NpZD04ZjE1NDk&quot;);">
                        <!---->
                      </div> 
                      <p>
                        <span>
                          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                          2.13k
                        </span> 
                        <span>
                          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                          58
                        </span> 
                        <span>
                          <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                          1.3%
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="post">
                      <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/3Cb1ZaFN-99vIQyKh1r4C9qkD-zBDUwCowo4G1UV-Xg/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTEuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDg2MDAyODFfMTM3OTQ5Njk1OTQxMjQ3Nl8xOTI3OTc1MDQyMjQ1MTYxMTA1X24uanBnP3N0cD1kc3QtanBnX2UxNSZlZmc9ZXlKMlpXNWpiMlJsWDNSaFp5STZJbWx0WVdkbFgzVnliR2RsYmk0eE1EZ3dlREU1TWpBdWMyUnlMbVl5T1RNMU1DSjkmX25jX2h0PWluc3RhZ3JhbS5maWV2MjItMS5mbmEuZmJjZG4ubmV0Jl9uY19jYXQ9MTA4Jl9uY19vaGM9dzF4bHYyeUhhUFlRN2tOdmdIelFYRlImZWRtPUFFaHlYVWtCQUFBQSZjY2I9Ny01JmlnX2NhY2hlX2tleT1Nek01TWpNMU1EazJOREl3TnpBeE16VTJOZyUzRCUzRC4yLWNjYjctNSZvaD0wMF9BWURQcDZqMFpYWjdTc0RNQnNheFhuUl9KLThEbHRVTjN1V1hXQWRmWjBKRUVBJm9lPTY2OTI1NjU3Jl9uY19zaWQ9OGYxNTQ5&quot;);">
                        <div class="views">
                          <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 3.56699C6.58333 3.75944 6.58333 4.24056 6.25 4.43301L1.75 7.03109C1.41667 7.22354 1 6.98298 1 6.59808L1 1.40192C1 1.01702 1.41667 0.776461 1.75 0.968911L6.25 3.56699Z" stroke="white"></path></svg>0
                        </div>
                      </div> 
                      <p>
                        <span>
                          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                          1.37k
                        </span> 
                        <span>
                          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                          81
                        </span> 
                        <span>
                          <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                          0.9%
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-4 col-md-2">
                    <div class="post">
                      <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/h2JfA140kwCVdonLQpTyB5--uWCH_t5gz4tAkkSjlZw/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTIuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDgxMzA1NTZfMzU0OTQ1MTAwOTQzODMxXzY3NDMxMTM4NzIwNTUyMjAwMjZfbi5qcGc_c3RwPWRzdC1qcGdfZTE1JmVmZz1leUoyWlc1amIyUmxYM1JoWnlJNkltbHRZV2RsWDNWeWJHZGxiaTR4TVRjNWVESXdPVFl1YzJSeUxtWXlPVE0xTUNKOSZfbmNfaHQ9aW5zdGFncmFtLmZpZXYyMi0yLmZuYS5mYmNkbi5uZXQmX25jX2NhdD0xMTEmX25jX29oYz1xVE5MRjIwTmxVVVE3a052Z0haVWxlNCZlZG09QUVoeVhVa0JBQUFBJmNjYj03LTUmaWdfY2FjaGVfa2V5PU16TTRPREU1TURRNE1ERTBNVFkyTkRZMk9BJTNEJTNELjItY2NiNy01Jm9oPTAwX0FZREtjQ0ZMSVdhbVVrS0tva0M5U2NhQ1BVQWxrTW9pS1hxd3VjeGx5ejZUbUEmb2U9NjY5MjUzQ0UmX25jX3NpZD04ZjE1NDk&quot;);">
                        <div class="views">
                          <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 3.56699C6.58333 3.75944 6.58333 4.24056 6.25 4.43301L1.75 7.03109C1.41667 7.22354 1 6.98298 1 6.59808L1 1.40192C1 1.01702 1.41667 0.776461 1.75 0.968911L6.25 3.56699Z" stroke="white"></path></svg>0
                        </div>
                      </div> 
                      <p>
                        <span>
                          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                          2.54k
                        </span> 
                        <span>
                          <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                          88
                        </span> 
                        <span>
                          <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                          1.5%
                        </span>
                      </p>
                    </div>
                  </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                  <div class="post">
                    <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/HnVO613jn6UiUT-84vCIv62pPKFc6mSsQFzTWyBgItw/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTEuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDcyMjAyNzNfMzQ3NTM4OTY0NzQ1OTYxXzI5MTQwNzY5NDg5NjUxMjQ0NV9uLmpwZz9zdHA9ZHN0LWpwZ19lMTUmZWZnPWV5SjJaVzVqYjJSbFgzUmhaeUk2SW1sdFlXZGxYM1Z5YkdkbGJpNHlNalk0ZURRd016SXVjMlJ5TG1ZeU9UTTFNQ0o5Jl9uY19odD1pbnN0YWdyYW0uZmlldjIyLTEuZm5hLmZiY2RuLm5ldCZfbmNfY2F0PTEwOSZfbmNfb2hjPXMyRnNQaXZFV1BVUTdrTnZnRm5MUjluJmdpZD1lZmQ1YWY4NmZhMDA0OGUxODNlMmRkNTU4YzMxODg1OSZlZG09QUVoeVhVa0JBQUFBJmNjYj03LTUmaWdfY2FjaGVfa2V5PU16TTRNREExTmprMk1UQXlPRGM0T0RJM01nJTNEJTNELjItY2NiNy01Jm9oPTAwX0FZRFJjMmd5NkNoVWRxY050Xy1TcHZzMmxBZWwtYV9tMWo4Uk1pRUFLRmtrYWcmb2U9NjY5MjUwQ0EmX25jX3NpZD04ZjE1NDk&quot;);">
                      <div class="views">
                        <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 3.56699C6.58333 3.75944 6.58333 4.24056 6.25 4.43301L1.75 7.03109C1.41667 7.22354 1 6.98298 1 6.59808L1 1.40192C1 1.01702 1.41667 0.776461 1.75 0.968911L6.25 3.56699Z" stroke="white"></path></svg>0
                      </div>
                    </div> 
                    <p>
                      <span>
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                        752
                      </span> 
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                        64
                      </span> 
                      <span>
                        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                        0.5%
                      </span>
                    </p>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                  <div class="post">
                    <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/HAfbjCdXscj1rUnvL-1wHNVRyFUaTsQTyz1d0EW7BHw/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTIuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDU1ODkxMDZfODIyOTk3MTg5NzE4ODQzXzUwMDQ4ODA0MTAyMjM5Nzk2MjZfbi5qcGc_c3RwPWRzdC1qcGdfZTE1JmVmZz1leUoyWlc1amIyUmxYM1JoWnlJNkltbHRZV2RsWDNWeWJHZGxiaTR6TVRNeWVEVTFOakl1YzJSeUxtWXlPVE0xTUNKOSZfbmNfaHQ9aW5zdGFncmFtLmZpZXYyMi0yLmZuYS5mYmNkbi5uZXQmX25jX2NhdD0xMTEmX25jX29oYz1Hd2I1a1B3RmZaNFE3a052Z0hfUm5xWCZlZG09QUVoeVhVa0JBQUFBJmNjYj03LTUmaWdfY2FjaGVfa2V5PU16TTNOREkxTlRZNE1UQTNNekEyTURnd01BJTNEJTNELjItY2NiNy01Jm9oPTAwX0FZQXBmbHBseXlZT3VWNTc0TFRQb3piVXZNNmRVZ2FpUm5zdU1rb2FDZ281ckEmb2U9NjY5MjVCMjAmX25jX3NpZD04ZjE1NDk&quot;);">
                      <div class="views">
                        <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 3.56699C6.58333 3.75944 6.58333 4.24056 6.25 4.43301L1.75 7.03109C1.41667 7.22354 1 6.98298 1 6.59808L1 1.40192C1 1.01702 1.41667 0.776461 1.75 0.968911L6.25 3.56699Z" stroke="white"></path></svg>0
                      </div>
                    </div> 
                    <p>
                      <span>
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                        1.07k
                      </span> 
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                        46
                      </span> 
                      <span>
                        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                        0.7%
                      </span>
                    </p>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-2">
                  <div class="post">
                    <div class="img" style="background-image: url(&quot;https://d3aqwrzdsjcw3e.cloudfront.net/mDpuTAf1VkufYZXRQ61qzZPLlNadT-X_tNYnIiTTS1Y/aHR0cHM6Ly9pbnN0YWdyYW0uZmlldjIyLTIuZm5hLmZiY2RuLm5ldC92L3Q1MS4yOTM1MC0xNS80NDI2ODYyNzRfMTk4NDA2NTA1ODY5MTQzNF80ODk5MjgyNDczNjQ5MTM4NzEwX24uanBnP3N0cD1kc3QtanBnX2UxNSZlZmc9ZXlKMlpXNWpiMlJsWDNSaFp5STZJbWx0WVdkbFgzVnliR2RsYmk0eE1EZ3dlREU1TWpBdWMyUnlMbVl5T1RNMU1DSjkmX25jX2h0PWluc3RhZ3JhbS5maWV2MjItMi5mbmEuZmJjZG4ubmV0Jl9uY19jYXQ9MTEwJl9uY19vaGM9ZGZucXYtTnZuemdRN2tOdmdFU3ZYb0YmZWRtPUFFaHlYVWtCQUFBQSZjY2I9Ny01JmlnX2NhY2hlX2tleT1Nek0yT0RRME16RTBPVFF5TmpZeU9USXpPUSUzRCUzRC4yLWNjYjctNSZvaD0wMF9BWUN2VjVhSnNKcUtMN0VQd1pRSWxXcERWUGROUUNCYWpKVG9rLUZpQmFqaVB3Jm9lPTY2OTIzNDkyJl9uY19zaWQ9OGYxNTQ5&quot;);">
                      <div class="views">
                        <svg width="7" height="8" viewBox="0 0 7 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.25 3.56699C6.58333 3.75944 6.58333 4.24056 6.25 4.43301L1.75 7.03109C1.41667 7.22354 1 6.98298 1 6.59808L1 1.40192C1 1.01702 1.41667 0.776461 1.75 0.968911L6.25 3.56699Z" stroke="white"></path></svg>0
                      </div>
                    </div> 
                    <p>
                      <span>
                        <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.798 1.09275C13.4817 1.06171 11.448 2.10372 10.7676 4.11432C10.1414 2.0862 8.13634 0.990069 5.82002 0.959025C2.90977 0.920021 0.562401 3.2053 0.523397 6.11555C0.475637 9.67913 2.26349 13.6831 10.5694 18.9032C19.0717 13.9084 20.9068 9.95295 20.9546 6.38938C20.9936 3.47912 18.7083 1.13176 15.798 1.09275Z"></path></svg>
                        821
                      </span> 
                      <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M18.5727 15.1309C19.6233 13.3826 20.1564 11.2971 19.9604 9.10975C19.4665 3.59818 14.6056 -0.45513 9.10191 0.0387937C3.59818 0.540558 -0.455129 5.4014 0.038795 10.8973C0.532719 16.3932 5.4014 20.4543 10.8973 19.9604C12.528 19.8114 14.0255 19.2783 15.3191 18.4629L19.3018 19.6311C19.6233 19.7252 19.9134 19.4273 19.8193 19.1058L18.5727 15.1309Z"></path></svg>
                        24
                      </span> 
                      <span>
                        <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.555 20.8202V13.7113C7.555 13.5479 7.37868 13.4171 7.15828 13.4171H0.392096C0.08354 13.4171 -0.103797 13.172 0.0615003 12.9759L10.5524 0C11.0152 0.0980545 10.9711 0.0898833 11.434 0.179767V7.28872C11.434 7.45214 11.6103 7.58288 11.8307 7.58288H18.6079C18.9165 7.58288 19.1038 7.82802 18.9385 8.02412L8.43658 21C7.97375 20.9101 8.01783 20.9183 7.555 20.8202Z"></path></svg>
                        0.5%
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <p class="subtext col-md-6">We use the avg. likes &amp; comments then compare them to industry standards by following size. This calculator does not analyse followers, so the audience score is an estimation.</p>
          </div>
        </section>
      </div>
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>