<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
     <%= stylesheet_link_tag "home.css" %>
     <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0&appId=879070337394886" nonce="9ttuwCVI"></script>
  </head>
  <body>
    <header>
      <div>
        <nav class="navbar">
          <h3 class="name"> WhereMyLikes <h3>
        </nav>
      </div>
    </header>
    <main>
      <div class="about">
         <p class="about_text" style="order:0">Получите точную статистику просмотров ваших постов.</p>
         <p class="about_text" style="order:1">Узнайте, кто из ваших подписчиков регулярно не ставит лайки на ваши посты.</p>
         <p class="about_text" style="order:2">Все данные собраны в одном месте, и вам не нужно вручную подсчитывать лайки и просмотры на каждом посте.</p>
         <p class="about_text" style="order:3">Вход через Instagram обеспечивает безопасное подключение к вашему аккаунту, и ваши данные останутся конфиденциальными.</p>
      </div>
       <div class="fb-login-button" data-width="100" data-size="large" data-button-type="" data-layout="" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </main>
    <footer class="footer">

    </footer>
     <script>
  
        <!-- Add the Facebook SDK for Javascript -->
  
        (function(d, s, id){
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) {return;}
                              js = d.createElement(s); js.id = id;
                              js.src = "https://connect.facebook.net/en_US/sdk.js";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk')
        );


        window.fbAsyncInit = function() {
            <!-- Initialize the SDK with your app and the Graph API version for your app -->
            FB.init({
                      appId            : '879070337394886',
                      xfbml            : true,
                      version          : '20.0'
                    });
            <!-- If you are logged in, automatically get your name and email adress, your public profile information -->
            FB.login(function(response) {
                      if (response.authResponse) {
                           console.log('Welcome!  Fetching your information.... ');
                           FB.api('/me', {fields: 'name, email'}, function(response) {
                               document.getElementById("profile").innerHTML = "Good to see you, " + response.name + ". i see your email address is " + response.email
                           });
                      } else { 
                           <!-- If you are not logged in, the login dialog will open for you to login asking for permission to get your public profile and email -->
                           console.log('User cancelled login or did not fully authorize.'); }
            });
        };

      </script>
  </body>
</html>