<div class="col-xs-12  m-auto p-1 py-2 p-lg-5">
    <h5>Friends Rating</h5>
</div>
<div class="col-xs-12 ">
     <div class="card shadow bord">
        <div class="container">
            <div class="row scrollable-container">
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div> 
                <hr>
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div>  
                <hr>  
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div>  
                <hr>
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div>  
                <hr>
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div>  
                <hr>
                <div class="col-3 m-auto p-3">
                    <div class=" friends-avatars " style="background-image: url(/assets/example-photo2-d53d82e7abf82686affbc8e98771b680679704071c2fd898f3c0007cd53b2e5d.jpg);"></div>
                </div>
                <div class="col-9 pt-3 m-auto text-start">
                    <p>Ivan Ivanov</p>
                </div>         
            </div>
        </div>   
    </div>
</div>
             